# Configuración de Supabase
NEXT_PUBLIC_SUPABASE_URL=https://wlignqkaserrrnbcuniv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndsaWducWthc2VycnJuYmN1bml2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTkxNzExNDYsImV4cCI6MjA3NDc0NzE0Nn0._e00h0lHCEZ4RWM3spHfme0ET38mvuOgwJ3hIjLMIJ8

# Configuración de la API
NEXT_PUBLIC_API_URL=/api

# Configuración de autenticación
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-here
